<div class='container' style="border-left: thick solid steelblue;">
    <table class='table'>
        <caption style="caption-side: bottom;">
            <h5>{{caption}}</h5>
        </caption>
        <thead>
            <tr>
                <th style="text-align: center;" *ngFor='let header of columnHeaders'>
                    {{header}}
                </th>
                <th style="text-align: center;">
                    Actions
                </th>
            </tr>
        </thead>

        <tr *ngFor='let row of rows'>
            <td style="text-align: center;" *ngFor='let td of row.columnValues'>
                {{td.dataValue}}
            </td>
            <td style="text-align: center;">
                <!-- {{row.viewURI}} &nbsp; {{row.editURI}} &nbsp; {{row.deleteURI}} -->
                <a title="View details" style="padding: 4px;" (click)="view(row.modelRowId)">
                    <i class="btn btn-small btn-success material-icons" style="font-size: small;">
                        visibility
                    </i>
                </a>
                <a title="Change data" style="padding: 4px;" (click)="edit(row.modelRowId)">
                    <i class="btn btn-small btn-primary material-icons" style="font-size: small;">
                        edit
                    </i>
                </a>
                <a title="Delete this row" style="padding: 4px;" (click)="delete(row.modelRowId)">
                    <i class="btn btn-small btn-danger material-icons" style="font-size: small;">
                        delete
                    </i>
                </a>&nbsp;
            </td>
        </tr>
    </table>
</div>