<div class="container overflow-auto"
    style="min-height: 7rem; max-height: 7rem; border: 1px solid gray; border-radius: .25rem;">

    <div *ngFor=" let notification of notifications" class="row">
        <div [ngClass]="{   'col-12': true,
                            'alert':true,
                            'alert-success': notification.notificationType === 0, 
                            'alert-info': notification.notificationType === 1,
                            'alert-warning': notification.notificationType === 2,
                            'alert-danger': notification.notificationType === 3
                        }" style="padding: 4px; margin-bottom: 4px;">
            {{notification.notificationText}}
            <i (click)="removeNotification(notification)" class="material-icons float-right" style="font-size: large;">
                close
            </i>
        </div>
    </div>
    <div class="row">
        <div class="col" style="padding: 0%;">
            <button class="btn btn-secondary float-right" (click)="clearAll()" [hidden]="!(hasData && notifications)"
                style="font-size: smaller; padding: 4px 4px; margin: 4px 4px;color: white;">Clear All</button>
        </div>
    </div>
</div>