<header>
	<nav class="navbar navbar-expand-md">
		<div class="toolbar" role="banner">
			<div>
				<a aria-label="Angular on twitter" target="_blank" rel="noopener" href="http://localhost:4200"
					title="Springular">
					<i class="material-icons" style="font-size: xx-large;">eco</i>
				</a>
			</div>
		</div>
		<ul class="navbar-nav">
			<li *ngIf="authService.isUserLoggedIn()"><a [routerLink]="['/welcome/User']"
					class="nav-link">Welcome</a></li>
			<li *ngIf="authService.isUserLoggedIn()"><a [routerLink]="['/list']" class="nav-link">List</a></li>
		</ul>
		<ul class="navbar-nav navbar-collapse justify-content-end">
			<li><a [routerLink]="['/login']" class="nav-link" *ngIf="!authService.isUserLoggedIn()">Login</a></li>
			<li><a [routerLink]="['/login']" class="nav-link" *ngIf="authService.isUserLoggedIn()"
					(click)='logout()'>Logout</a></li>
		</ul>
	</nav>
</header>
