<h1>welcome works!</h1>
<div class="container">{{welcomeMessage}}</div>

<div class="container">Take a look at our <a [routerLink]="['/list']" routerLinkActive="router-link-active">list</a>.
</div>

<div class="container">
    <button class="btn btn-primary" (click)="getWelcomeMessage()">Get Message</button>
</div>