<footer class='footer'>
  <div class='container'>
    <span>All Rights Reserved, 2019 @ Meet
      Kulkarni - <a href="mailto:kulkarni.meet@gmail.com?Subject=Springular%20Front"
        style="color: white;">Support</a></span>
  </div>
</footer>