<div class="container">
  <form>
    <div class="form-group row">
      <div class="col-sm-3">
        <label for="userName">User: </label>
        <input class="form-control" type="text" name="userName" [(ngModel)]="userName" />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3">
        <label for="password">Password: </label>
        <input class="form-control" type="password" name="password" [(ngModel)]="password" />
      </div>
    </div>

    <div>
      <button type="submit" (click)="handleLogin()" class="btn btn-primary">
        Login
      </button>
    </div>
  </form>
</div>